<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tallygo.tallygoexamples">

    <application
        android:name=".ExamplesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Example Activities-->
        <activity android:name=".navigation.SimulatedNavigationWithoutPreviewActivity"/>
        <activity android:name=".navigation.SimulatedNavigationWithPreviewActivity"/>
        <activity android:name=".navigation.SimulatedNavigationFromCurrentLocationWithoutPreviewActivity"/>
        <activity android:name=".navigation.SimulatedNavigationFromCurrentLocationWithPreviewActivity"/>
        <activity android:name=".navigation.SimulatedNavigationWithNewWaypointWhileNavigatingActivity"/>
        <activity android:name=".navigation.LiveNavigationFromCurrentLocationWithoutPreviewActivity"/>
        <activity android:name=".navigation.LiveNavigationFromCurrentLocationWithPreviewActivity"/>

        <activity android:name=".display_driver_report.DisplayDriverReportActivity"/>

        <activity android:name=".find_api.LatLonFromStreetAddressActivity"/>
        <activity android:name=".find_api.SearchForLocationActivity"/>

        <activity android:name=".obtain_route.GetRouteRawDataActivity"/>

        <activity android:name=".map.AnnotateMapMarkerActivity"/>
        <activity android:name=".map.MapOverviewUiActivity"/>
        <activity android:name=".map.MapSearchUiActivity"/>
        <activity android:name=".map.PlainMapUiActivity"/>

        <activity android:name=".turn_list_ui.TurnListUiActivity"/>
        <activity android:name=".waypoint_list_ui.WaypointListUiActivity"/>

        <activity android:name=".report_server.ReportCurrentLocServerActivity"/>
        <activity android:name=".report_server.ReportEtaServerActivity"/>
        <activity android:name=".report_server.ReportRouteServerActivity"/>

        <activity android:name=".driver_motion.ReportDriverMotionActivity"/>
        <activity android:name=".driver_motion.DisplayDriverMotionActivity"/>

        <!--End Examples-->

        <meta-data android:name="tallygo.ACCESS_TOKEN" android:value="@string/tallygo_access_token" />

    </application>

</manifest>